h1 {
    color: rgb(255, 0, 0);
  }
h2 {
    color: rgb(182, 182, 182);
    text-decoration: underline;
  }
span {
    color: rgb(255, 60, 0);
  }
li {
    list-style-type:upper-roman;
}
p {
    font-style: italic;
}
a {
  color: rgb(40, 139, 27);
  text-transform: uppercase;
  text-decoration: none;
}
.benicio {
  color: rgb(207, 207, 207);
  background-color: green;
}
.dennis {
  color: rgb(7, 4, 158);
  background-color: rgb(0, 225, 255);
}
.vinnie {
  color: rgb(115, 255, 0);
  background-color: rgb(155, 3, 3);
}
.rade {
  color: rgb(155, 3, 3);
  background-color: rgb(115, 255, 0);
}
h2 ~ h2 {color: rgb(148, 148, 148);}
h2 ~ h2 ~ h2 {color: rgb(120, 120, 120);}
h2 ~ h2 ~ h2 ~ h2 {color: rgb(60, 60, 60);}