* {
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
}

.figure1 {
    border-style: groove;
    border-color: black;
    border-width: 1px;
    padding-right: 10px;
    margin-right: 90%;
    padding-bottom: 10%;
    margin-top: 5px;
}

.figure2 {
    text-align: left;
    padding: 20px;
    border-style: solid;
    border-color: black;
    margin-right: 50px;
    border-width: 5px;

}

.figure3 {
    margin: 20px;
    border-color: orange;
    border-width: 1px;
    border-style: solid;
}

.figure4 {
    border-color:aquamarine;
    border-radius: 10px;
    padding-bottom: 5%;
    margin-right: 80%;
    border-width: 2px;
    border-style: solid;
}

.figure5 {
    border: 1px solid black;
    padding-left: 1%;
}

.figure6 {
    border: 1px solid black;
    margin-left: 1%;
}

.figure7 {
    border-style: solid;
    border-color:skyblue;
    border-radius: 10px;
    padding-bottom: 5%;
    margin-right: 50%;
    border-width: 2px;
    margin-left: 40%;  
    border-width: 3px;
    padding-top:1%;
    padding-left:1%;
    margin-top:1%;
}