@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
  }
h1 {
    background-color: lightgray;
    font-size:100%;
 }
a { 
    color: inherit;
    text-decoration: none;
 }
 ul:nth-child(1) {
    list-style-type: none; 
}
nav {
    background-color: darkgrey;
}
nav:hover {
    background-color: grey;
    color: white;
    list-style-type: none; 
}
h2{
    font-variant: small-caps;
    text-decoration: none;
}
section{
    border-style: dashed;
    border-color: lightgray;
    border-left-style:groove;
    border-left-color: lightgreen;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    margin: 20px;
    padding: 10px;
}
h3 {
    font-weight: bold;
}
img {
    border-style: dashed;
    border-color: lightgray;
    border-width: 1px;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
    border-start-start-radius: 25px;
    border-end-end-radius: 25px;
    padding: 5px;
    margin: 1%;
}
.info ul {
    list-style:circle;
}
ul span {
    color: green;
    font-style: italic;
}
.competence-level{
    height: 20px;
    width: 15%;
    background-color: grey;
    margin-bottom: 15px;
}
.progress-bar {
    height: 100%;
    background: green;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}
section{
    margin-top:10px;
    margin-bottom:10px
}
.experience span{
    border-bottom-color:green ;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-inline: 30px;
    text-align: left;
}
.experience-date {
    font-weight: bold;
}
.experience-position {
    color: green;
}
.experience-city {
    font-style: italic;
}
.experience-company {
    font-variant: small-caps;
}
.education span{
    border-bottom-color:green ;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-inline: 15px;
}
.education-date {
    font-weight: bold;
}
.education-label {
    color: green;
}
.education-school {
    font-variant: small-caps;
}
.education-city {
    font-style: italic;
}
