<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo3: v-if</title>
</head>

<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<body>
    
    <div id="app">
        <table style="width:100%">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Grupo</th>
              <th>Notas</th>
              <th v-if="mostrar">Media</th>
            </tr>
            <tr v-for="(alumnos,index) in alumnos" v-bind:key="index">
                <td>{{alumnos.nombre}}</td>
                <td>{{alumnos.apellido}}</td>
                <td>{{alumnos.grupo}}</td>
                <td>{{alumnos.notas}}</td>
                <td v-if="mostrar">{{methods.media(alumnos.notas)}}</td>
            </tr>
        </table>
        <button v-on:click="mostrar=!mostrar">Calcular la media</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        //Creamos una aplicación VUE.
        const app = Vue.createApp({
            data() {
                return {                  
                    mostrar: false,
                    //Array de objetos
                    alumnos: [
                        { nombre: 'David', apellido: 'Pascal', grupo: "DamV", notas: [2, 3, 6, 7, 8]},
                        { nombre: 'Eric', apellido: 'Rodriguez', grupo: "DamV", notas: [8, 4, 6, 5, 9]},
                        { nombre: 'Juan', apellido: 'Cardador', grupo: "DamV", notas: [9, 9, 9, 9, 9]},
                        { nombre: 'Hudini', apellido: 'Musalini', grupo: "Asix", notas: [2, 3, 2, 5, 6] }
                    ],                    
                    methods: {
                        media(notas) {
                            let sum = 0;
                            for (let i = 0; i < notas.length; i++) {
                                        sum += notas[i];
                                        }
                            return sum / notas.length;
                            }
                    },
                    
                }
            }
        })

        app.mount('#app')
    </script>

</body>

</html>