<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo2: v-for</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(show,index) in tvshows" v-bind:key="index">
                <strong>
                    {{show.name}}
                </strong> ({{ show.seasons}} temporadas) - {{show.plataforma}}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
  
    <script>
        //Creamos una aplicación VUE.
        const app = Vue.createApp({
            data() {
                return {
                    //Array de objetos
                    tvshows:[
                        {name:'Game of Thrones', seasons: 7, plataforma: 'Netflix'},
                        {name:'Breaking Bad', seasons: 5, plataforma: 'Amazon'},
                        {name:'Lost', seasons: 6, plataforma: 'HBO'},
                        {name:'Ozark', seasons: 4, plataforma: 'Amazon'},
                        {name:'Heidi', seasons: 3, plataforma: 'Crunchyroll'}
                    ] 
                }
            }
        })
        app.mount('#app')
    </script>
    
</body>
</html>