* {
    margin: 0%;
    padding: 0%;
}

.logo {
    width: 10%;
    height: 10%;
}

header {
    background-color: #0a91ab;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h3 {
    color: #ffc045;
}

nav {
    background-color: #ffc045;
    padding: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0%;
    position: sticky;
    z-index: 11;
}

/* Formatea el texto del nav */
nav li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

/* Hace que el nav sea horizontal */
nav ul {
    display: flex;
    list-style: none;
}

/* Cambia el tamaño de las imagenes en los articulos de videojuegos)*/
article img {
    width: 500px;
    height: 300px;
}

.videojuegos {
    width: 29%;
    margin-top: 1%;
}

section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    align-content: center;
    padding-left: 2%;
}

h2 {
    color: #0a91ab;
    text-transform: uppercase;
    padding-right: 90%;
}

/* Formatea el contenedor de los articulos de videojuegos*/
.videojuegocaja {
    border: #ffc045 1px solid;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Formato del boton mas info*/
.info {
    background-color: #ffc045;
    display: flex;
    align-self: flex-end;
    margin: 1%;
    padding: 1%;
    color: black;
    text-decoration: none;
    border-radius: 12%;
}

/* Hace que los articulos de los videojuegos esten bien (lo hize con el titulo fuera del section y esto es para hacerlo con el titulo dentro)*/
.videojuegos2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parrafo {
    height: 150px;
    overflow: hidden;
}

aside {
    width: 30%;
    background-color: lightcyan;
    padding: 1% 1% 2% 2%;
}

.izquierda {
    display: flex;
    text-align: left;
}

h4 {
    color: #0a91ab;
    font-size: 110%;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    align-content: center;
    padding-left: 2%;
    gap: 2%;
}

div .noticias article {
    width: 600px;
    justify-content: center;
}

span {
    font-weight: bold;
}

div .noticias article img {
    width: 600px;
    height: 250px;
}

/* Boton de noticias*/
.boton {
    margin-left: 1%;
    background-color: #ffc045;
    width: 97%;
    color: purple;
    text-decoration: none;
    justify-content: end;
    display: flex;
    padding-right: 1%;
    position: relative;
    bottom: 30px;
    border-radius: 5%;
    padding: 2px;
}

/*Estilo de los enlaces al pasar el raton por encima*/
a:hover {
    background-color: black;
    color: #ffc045;
}

.ranking {
    background-color: #8A8070;
}

section.ranking h2 {
    color: #ffc045;
}

section.ranking div {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 1%;
}

section.ranking div img {
    width: 120px;
    height: 140px;
    border-radius: 50%;
}

footer a img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/*Apartir de aqui formato para el formulario*/
legend{
    text-align: center;
    font-size: 130%;
    font-style: italic;
    background-color: rgb(228, 225, 225);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    margin-bottom: 1%;
}
fieldset{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 222, 241);
    margin-left: 2%;
    margin-right: 2%;
}

form{
    margin-bottom: 2%;
    margin-top: 2%;
}