* {
    margin: 0%;
    padding: 0%;
}

article {
    margin-left: 1%;
    margin-right: 1%;
    background-color: lightyellow;
}

.logo {
    width: 10%;
    height: 10%;
}

header {
    background-color: #0a91ab;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3 {
    color: #ffc045;
}

nav {
    background-color: #ffc045;
    padding: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0%;
    position: sticky;
    z-index: 11;
}

/* Formatea el texto del nav */
nav li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

/* Hace que el nav sea horizontal */
nav ul {
    display: flex;
    list-style: none;
}

/* Cambia el tamaño de las imagenes en los articulos*/
article img,
article div img {
    width: 500px;
    height: 300px;
    margin-right: 10px;
}

.videojuegos {
    margin-top: 1%;
    position:relative;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    align-content: center;
    padding-left: 2%;
}

h2 {
    color: #0a91ab;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    color: #0a91ab;
}

/* Formatea el contenedor de los articulos de videojuegos*/
.videojuegocaja {
    border: #ffc045 1px solid;
    display: flex;
    justify-content: flex-start;

}
/* Formato del boton mas info*/
.info {
    background-color: #ffc045;
    display: flex;
    align-self: flex-end;
    margin: 1%;
    padding: 1%;
    color: black;
    text-decoration: none;
    border-radius: 12%;
    justify-content: center;
    width: 125px;
    height: 20px;
    position:absolute;
    top:0;
    right:0;
}

.videos {
    display: flex;
    gap: 20px;
}

span {
    font-weight: bold;
}

a:hover {
    background-color: black;
    color: #ffc045;
}

footer a img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
