body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #77dd77;
}

.bg {
  background-size: 40%;
  background-repeat: repeat-x;
  animation: bgScrollLeft 1.5s linear infinite;
}

.bg2 
{
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes bgScrollLeft {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -765px;
  }
}

div {
  position: absolute;
  /* transform:translate(-50%,-50%); */
  height: 35px;
  width: 35px;
  /* border-radius:50%;
    border:2px solid black; */
}

#coche {
  scale: 40%;
  top: 200px;
}

.camion {
  width: 300px;
  height: 100px;
  position: absolute;
  animation: run 2s linear infinite;
}
.camion2 {
  width: 250px;
  height: 100px;
  position: absolute;
  animation: run 3s linear infinite;
}

@keyframes run {
  from {
    left: 3000px;
  }

  to {
    left: -300px;
  }
}