*{
    /* border: 1px solid black; */
    margin: 0%;
    padding: 0%;
}
header h1{
    width: 100%;
    padding: 1.5rem;
    color: white;
    background-color: black;
}
header h2{
    /*display: inline-block;*/
    width: 45%;
    padding: 1rem;
}
.subtitulo{
    background-color: grey;
    display: flex;
}
nav{
    background-color: grey;
    margin-top: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
}
ul{
    text-align: center;
    display: flex;
    gap: 20%;
}
li{
    /*display: inline-block;*/
    list-style-type: none;
    margin-left: 3rem;
}
img{
    width: 200px;
    height: 200px;
    float: left;
}
div.text{
    width: 85%;
    height: 200px;
    text-align: center;
    display: flex;
    gap: 20%;
    
}
section{
    width: 100%;
    margin: 2%;
}
.content-seccion1 p{
    /*display: inline-block;*/
    
    width: 33%;
    padding: 0.5rem;
}

.content-seccion2 p{
    /*display: inline-block;*/
    width: 66%;
    padding: 0.5rem;
}

footer{
    float: none;
    padding: 2rem;
    background-color: black;
    color: white;
}

